body {
  background-color: #7A2021;
}

h1 {
  color: yellow;
  text-align: center;
  font-family: papyrus;
}

p {
  color: yellow;
  font-family: papyrus;
  font-size: 20px;
}


div {
    height: 100px;
    width: 100px;
}

.hexagon {
    background-color: #ccc;
    clip-path: polygon(5% 25%, 50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%);
}

.center {
   display: block;
   margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
