body {
  background-color: #7A2021;
}

h1 {
  color: yellow;
  text-align: center;
  font-family: papyrus;
}

p {
  color: yellow;
  font-family: papyrus;
  font-size: 20px;
}


.hexagon {
    width: 100px;
    height: 115.47px; /* This value is approximately 1.732 * width */
    position: relative;
    background-color: #ccc;
    margin: 20px;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  
  .hexagon:before {
    bottom: 100%;
    border-bottom: 57.74px solid #ccc; /* This value is approximately 0.866 * height */
  }
  
  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 57.74px solid #ccc; /* This value is approximately 0.866 * height */
  }
  
